*{
  margin:0px;
  padding:0px;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 110%;
}

#root{
  text-align:center;
}
.calculator-title{
  font-size:30px;
  background: radial-gradient(#5a68ff,#ff495a);
  width: 300px;
  padding: 10px 10px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 2px;
  border: 2px solid ;
  color: #00ff1a;
}
.mainCalc{
  margin:0px;
  padding:0px;
  border-radius: 0px;
  box-sizing: border-box;
}
.screen-row input{
  width: 300px;
  background: #222222;
  border: 0px;
  color: #ffffff;
  padding: 10px;
  text-align: right;
}
input[type="button"]{
  width: 100px;
  background: #ffffff;
  border: 1px solid #222;
  padding: 10px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type="button"]:active{
  background: #ccc;
}

.btnaction {
  background-color: #ffcc0e !important;
}